<div class="playlist row force-horiz">
    <div class="checkmark">
        {{#if read_only?}}
            {{#if listened?}}
                <img src="{{checked_image}}" />
            {{else}}
                <img src="{{unchecked_image}}" />
            {{/if}}
        {{else}}
            <input type="checkbox" name="listened" value="1"
                   {{#if listened?}}checked{{/if}}
                   class="playlist-check" data-url="{{ack_url}}" />
        {{/if}}
    </div>
    <div class="info">
        <h1>
            <a href="{{url}}">{{name}}</a>
            {{#if read_only?}}
                {{#if liked?}}
                    <img src="{{liked_image}}" />
                {{/if}}
            {{else}}
                <input type="checkbox" name="liked" value="1"
                       {{#if liked?}}checked{{/if}}
                       class="playlist-like" data-url="{{like_url}}" />
            {{/if}}
        </h1>
        {{#if from_user?}}
            <p>from <a href="{{from_user.url}}">{{from_user.username}}</a></p>
        {{/if}}
        {{#if tags?}}
            hashtags:
            {{#each tags}}
                <a href="{{filter_url}}">#{{name}}</a>
            {{/each}}
        {{/if}}
        {{#if description?}}
            {{{formatted_description}}}
        {{/if}}
    </div>
</div>
